* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  height: 100%;
  color: #070707;
}

.title {
  text-align: center;
  font-size: 34px;
}

.who-i--am {
  padding: 0 0 105px 0;
}

.conteiner {
  max-width: 944px;
  margin: 0 auto;
}

nav ul {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}
nav ul .home {
  color: #070707;
}
nav ul a {
  color: #828282;
}

nav {
  border-bottom: 1px solid #828282;
  padding: 32px 0;
}

.mob_320 {
  display: none;
}

.who-i-am {
  margin: 39px 0 30px 0;
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
}
.who-i-am .wid img:first-child {
  width: 100%;
}
.who-i-am .who-i-am__name {
  font-size: 47px;
}
.who-i-am .who-i-am__lang {
  transform: rotate(-180deg);
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
}
.who-i-am .who-i-am__lang span {
  color: #828282;
}

.text {
  text-align: center;
  font-size: 18px;
  line-height: 22px;
}

.about-me {
  background: #F6F6F6;
  padding: 120px 0 110px 0;
}
.about-me .title {
  margin: 0 0 18px 0;
}
.about-me p {
  text-align: center;
  padding: 0 0 40px 0;
}
.about-me p span {
  width: 100%;
  display: inline-block;
}
.about-me p:last-child {
  padding: 0;
}

.skills {
  padding: 90px 0 110px 0;
}
.skills .title {
  margin: 0 0 69px 0;
}
.skills .text {
  margin: 0 0 83px 0;
}
.skills .column-items {
  display: flex;
  justify-content: space-between;
}
.skills .column-items .column-item {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.skills .column-items .column-item .item-text {
  text-align: center;
  margin: 24px 0 40px 0;
  flex: 1 1 auto;
}

.portfolio {
  padding: 112px 0 96px 0;
  background: #F6F6F6;
}
.portfolio .title {
  margin: 0 0 47px 0;
}
.portfolio .text {
  margin: 44px 0 99px 0;
  text-decoration: underline;
}
.portfolio .text:last-child {
  margin: 44px 0 0 0;
}

footer {
  padding: 114px 0 123px 0;
}
footer .conteiner {
  max-width: 342px;
  margin: 0 auto;
}
footer .text {
  margin: 20px 0 30px 0;
}
footer .text span {
  width: 100%;
  max-width: 300px;
}
footer .btn {
  width: 180px;
  height: 42px;
  background: #070707;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 21px;
  margin: 0 auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
footer .btn span {
  font-size: 18px;
  color: #fff;
}

.item-text {
  text-align: center;
  font-size: 14px;
  color: #828282;
}

.footer-items {
  margin: 85px 0 45px 0;
  display: flex;
  justify-content: space-between;
}

.portfolio-img img, .wid img {
  width: 100%;
}

.name-denis::first-line {
  color: red;
  max-width: 400px;
}

@media screen and (max-width: 964px) {
  .conteiner {
    margin: 0 10px;
  }
}
@media screen and (max-width: 650px) {
  .skills {
    padding: 90px 0 75px 0;
  }

  .column-items {
    flex-wrap: wrap;
  }

  .column-item {
    width: 50%;
    margin: 0 0 35px 0;
  }
}
@media screen and (max-width: 565px) {
  .about-me p span {
    display: inline;
  }

  .who-i--am {
    padding: 0 0 52.5px 0;
  }

  .about-me {
    padding: 60px 0 52.5px 0;
  }

  .skills {
    padding: 45px 0 37.5px 0;
  }

  .portfolio {
    padding: 66px 0 48px 0;
  }

  .portfolio .text {
    margin: 22px 0 44.5px 0;
  }
}
@media screen and (max-width: 320px) {
  .skills {
    padding: 90px 0 75px 0;
  }

  .column-items {
    flex-wrap: wrap;
  }

  .column-item {
    width: 100%;
    margin: 0 0 35px 0;
  }

  .who-i-am {
    flex-direction: column;
    align-items: flex-start;
  }

  .who-i-am__lang {
    display: none;
  }

  .mob_320 {
    display: block;
  }

  .wid img:first-child {
    display: none;
  }
}